CAPDI_SMTP_HOST=glacier.mxrouting.net
CAPDI_SMTP_PORT=465
CAPDI_SMTP_USERNAME=delta@capdimw.org
CAPDI_SMTP_PASSWORD=REPLACE_WITH_NEW_PASSWORD
CAPDI_SMTP_FROM=delta@capdimw.org
CAPDI_CONTACT_TO=info@capdi.org
